/* Styles go here */

* {
    margin: 0;
    padding: 0;
  }

.UI{
    background-color: #121212;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    padding: 0;
    border-radius: 25px;
    width: 60%;
    height: 90%;
    overflow: hidden;
}

.sidebar{
    flex: 1;
    position: relative;
    background-color: #2c2c2c;
}

.SearchUser {
    border-bottom: 2px solid gray;
}

.searchform {
    padding: 5px 10px;
}

.searchforminput {
    border: none;
    color: white;
    outline: none;
    background-color: transparent;
}


.searchforminput::placeholder {
    color: gray;
}


.navbar{
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;
}

.logo {
    color: #FFFFFFFF;
    font-weight: bold;
}

.user {
    display: flex;
    gap: 10px;
    color: white;
}

.user>button {
    background-color: #FF3F80;
    color: #ddddf7;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px;
}

/* Chat User Component */

.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.userChat:hover {
    background-color: #383838;
}

.userChatInfo > span{
    font-style: 20px;
    font-weight: 500;
}

.userChatInfo > p{
    font-style: 10px;
    color: lightgray;
}

 /* CHAT UI Component */

 .chatui{
    flex: 2;
    padding: 0;
    justify-content: center;
}

.chatHeader {
    height: 50px;
    background-color: #1e1e1e;
    border-left: 1px solid rgb(18, 17, 17);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}


.messages {
    background-color: #343434 ;
    height: calc(100% - 100px);
    padding: 5px;
    overflow: scroll;
}

.messages::-webkit-scrollbar {
    width: 0;
}

.input{
    height: 50px;
    background-color: #222222 ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input>input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #222222 ;
    color: white;
    font-size: 18px;
}

.input>input::placeholder{
    color: lightgray;
}

.sendbtn{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 5px 25px;
    color: white;
    background-color: #3E50B4;
    cursor: pointer;
    border-radius: 5px 5px 15px 5px;
}



.message{
    display: flex;
}

.message.owner{
    flex-direction: row-reverse;
}

.message.owner >.messageContent{
    align-items: flex-end;
}

.message.owner >.messageContent>p{
    background: linear-gradient(to right bottom, #36EAEF, #6B0AC9);
    color: white;
    border-radius: 12px 0px 12px 12px;
}

.messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messageContent>p {
    background-color: white;
    padding: 5px 10px;
    border-radius: 0px 12px 12px 12px;
    max-width: max-content;
}


